p1{color: rgb(0, 0, 255);}
h1{color: red;}
p1{font-family: Arial, Helvetica, sans-serif;}
p1{font-size: large;}
.Style{font-family: serif;}
p1{font-size: 15px;}
a:hover{color: darkorange;}
*{text-align: center;
}